body   {
    font-family: 'Inter', sans-serif;
}

.primary-button {
    background-color: #007AFF;
    color: white; 
    border: none;
    border-radius: 6px;
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .secondary-button {
    background-color: transparent;
    color: #007AFF; 
    border: 2px solid #007AFF; 
    border-radius: 6px; 
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  .secondary-button:hover {
    background-color: rgba(0, 122, 255, 0.1);
  }  
  
  .primary-button:hover {
    background-color: #0056b3; 
  }

  @media (max-width: 767px) {
  }

  img {
    width: 100%;
  }

#copyright {
    font-weight: bold;
  }
  
  h1 {
    font-size: 36px; 
    line-height: 1.5; 
    font-weight: bold; 
  }
  
  h2 {
    font-size: 1.5em; 
    line-height: 1.5; 
    font-weight: bold; 
  }
  
  h3 {
    font-size: 1.33em; 
    line-height: 1.5; 
    font-weight: bold; 
  }
  
  h4 {
    font-size: 1.17em; 
    line-height: 1.5; 
    font-weight: bold; 
  }

  p {
    font-size: 16px; 
    line-height: 1.5;
    color: #333;
    margin-bottom: 10px; 
  }
  
  a[href^="tel:"]:hover {
    color: #FF0000; 
  }
  
  a[href^="tel:"]:active {
    color: #008000;
  }
      
  h1, h2, h3, h4, p {
    color: #001F3F; 
  }
    
  

  
/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; 
}

#hero h1 {
  text-align: center;
}

.logo {
  max-width: 250px;
}

.container {
  text-align: center;
}

header {
  background-color: #ffe4c4;
  text-align: center;
  padding: 10px 0;

 /*start ------------*/
 width: [object Object]px; 
 height: [object Object]px; 
 background: #FFE4C4; 
 border: solid #BDBDBD 0; 
 box-shadow: 0 5px 7px rgba(0, 0, 0, 0.4)  ; 
 -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.4)  ; 
 -moz-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.4)  ; 
 position: relative; 
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

.navigation li a {
  text-decoration: none; 
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: bolder;
  color: #4a4a4a;

}

#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.instalogo {
  max-width: 50px;
}

p {
  text-align: left;
}

footer p {
  text-align: center;
}

#Skills {
  text-align: left;
}

#Tools {
  text-align: left;
}

#FiveW {
  text-align: left;
}

h4 {
  text-align: left;
}