body {
  font-family: "Inter", sans-serif;
}

.primary-button {
  background-color: #007aff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: 0.4s opacity, 0.5s background-color, 0.4s font-size;
}

.primary-button:hover {
  font-size: 18px;
}

.secondary-button {
  background-color: transparent;
  color: #007aff;
  border: 2px solid #007aff;
  border-radius: 6px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s opacity;
}

.secondary-button:hover {
  background-color: rgba(0, 122, 255, 0.1);
  opacity: 0.8;
}

.primary-button:hover {
  background-color: #0056b3;
  opacity: 0.8;
}

@media (max-width: 767px) {
}

img {
  width: 100%;
}

#copyright {
  font-weight: bold;
}

h1 {
  font-size: 36px;
  line-height: 1.5;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: bold;
}

h3 {
  font-size: 1.33em;
  line-height: 1.5;
  font-weight: bold;
}

h4 {
  font-size: 1.17em;
  line-height: 1.5;
  font-weight: bold;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 10px;
}

a[href^="tel:"]:hover {
  color: #ff0000;
}

a[href^="tel:"]:active {
  color: #008000;
}

h1,
h2,
h3,
h4,
p {
  color: #001f3f;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#hero h1 {
  text-align: center;
}

.logo {
  max-width: 100px;
}

.container {
  text-align: center;
}

header {
  background-color: #ffe4c4;
  text-align: center;
  padding: 10px 0;
  width: [object Object]px;
  height: [object Object]px;
  border: solid #bdbdbd 0;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.4);
  position: relative;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

.navigation li a {
  text-decoration: none;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: bolder;
  color: #4a4a4a;
}

#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.instalogo {
  max-width: 50px;
}

p {
  text-align: left;
}

footer p {
  text-align: center;
  font-weight: 700;
}

#Skills {
  text-align: left;
}

#Tools {
  text-align: left;
}

#FiveW {
  text-align: left;
}

h4 {
  text-align: left;
}

li {
  color: #001f3f;
  text-align: left;
}

  
  @media only screen and (min-width: 640px) {
  header {
      background-color: #ffe4c4;
      text-align: center;
      padding: 10px 0;
      position: relative;
  }

  .container {
      max-width: 1200px;
      margin: 0 auto;
      overflow: hidden; 
      position: relative;
  }

  .logo {
      max-width: 80px;
      float: left; 
      margin-right: 20px; 
  }

  .navigation {
      position: absolute;
      bottom: 0; 
      right: 0; 
  }

  .navigation ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  .navigation li {
      display: inline-block;
      margin-left: 20px; 
  }

  .navigation li:first-child {
      margin-left: 0;
  }
      hr {
  margin-top: 20px; 
  margin-bottom: 20px;
  border: 1px solid #000; 
}

.col-md-6 {
  width: 50%;
}

[class*="col-"] {
  float: left;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column.col-md-6.col-lg-7 {
  flex: 1;
}

.column.col-md-6.col-lg-5 {
  flex: 1;
}

.column {
  margin-right: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

header {
text-align: unset;
padding: 20px 0 13px;
}

nav {
width: auto;
float: right;
margin-top: 4px;
}
  }


@media only screen and (min-width: 1024px) {
  header {
      background-color: #ffe4c4;
      text-align: center;
      padding: 20px 0;
      position: relative;
  }

  .container {
      max-width: 1200px;
      margin: 0 auto; 
      overflow: hidden;
      position: relative; 
  }

  .logo {
      max-width: 100px; 
      float: left; 
      margin-right: 40px; 
  }

  .navigation {
      position: absolute;
      bottom: 0; 
      right: 0;
  }

  .navigation ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  .navigation li {
      display: inline-block;
      margin-left: 40px; 
  }

  .navigation li:first-child {
      margin-left: 0; 
  }

  hr {
      margin-top: 30px; 
      margin-bottom: 30px;
      border: 2px solid #000; 
  }
}


@media only screen and (min-width: 1440px) {
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes color-change {
0% {fill: #edc655;}
50% {fill: #fcffad;}
100% {fill: #f76414;}
}

.sun {
animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
from {transform: translate(0,50px);}
to {transform: translate(200px,50px);}
}

.cloud-front {
animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
from {transform: translate(446px,48px);}
to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}